app-form-input {
  display: contents !important; /* Makes the component behave like it's not wrapping the input */
}

app-form-input input {
  background: none !important;
  border: none !important;
  outline: none !important;
  padding: 10px !important;
  margin: 10px !important;
  box-shadow: none !important;
}
.bgImg {
  @apply bg-primary-light;
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
  .bgImg {
    background-image: url(../../../../../public/images/hopAssets/loginDog1.jpg);
    background-size: cover;
    background-attachment: fixed;
  }
}

/* @media (min-width: 1536px) {
 
  .my-element {
    background-color: pink;
  }
} */
