/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "theme.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply font-Monteserrat;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

/* Works on WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  @apply bg-primary-light; /* Track color */
}

::-webkit-scrollbar-thumb {
  @apply bg-localeColors-darkteal hover:bg-localeColors-red duration-300 ease-in-out transition rounded-xl;
}
