<!-- rescues-list.component.html -->
<div
  class="w-full px-4 sm:px-6 md:px-16 lg:pt-20 flex flex-col items-center"
  data-aos="fade-right"
  data-aos-duration="800"
>
  <div class="gallery-heading text-center w-full">
    <h1
      class="text-7xl sm:text-8xl 2xl:text-9xl tracking-tight leading-tight text-left text-localeColors-darkteal"
    >
      <span class="bloc font-WinkySans font-semibold">All Rescues</span>
      <span class="block"></span>
      <span class="block text-blue-600"></span>
    </h1>
  </div>

  <!-- Search Bar -->
  <!-- Search Bar -->
  <div class="relative mx-auto max-w-[600px] w-[95%] mt-10 mb-10">
    <!-- Search Input -->
    <input
      type="text"
      name="search-box"
      class="block w-full p-3 text-sm text-gray-900 bg-white border-black rounded-full shadow-md focus:ring-localeColors-lightteal focus:bg-white focus:border-localeColors-lightteal outline-none transition-all duration-200"
      placeholder="Search for rescues..."
      (keyup)="sendData($event)"
      (focus)="isDropdownOpen = true"
      (blur)="closeDropdownWithDelay()"
    />
    <span class="absolute right-4 top-1/2 transform -translate-y-1/2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="w-5 h-5 text-gray-400"
      >
        <circle cx="11" cy="11" r="8"></circle>
        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
      </svg>
    </span>

    <!-- Search Results Dropdown -->
    <div
      *ngIf="isDropdownOpen && filteredRescues.length > 0"
      class="absolute w-full bg-white border-2 border-localeColors-lightteal shadow-lg rounded-lg mt-2 max-h-64 overflow-y-auto transition-all duration-200"
    >
      <ng-template ngFor let-rescue [ngForOf]="filteredRescues" let-i="index">
        <hr *ngIf="i > 0" class="border-gray-200" />
        <p
          class="px-5 py-3 cursor-pointer hover:bg-gray-100 transition duration-200"
          (click)="viewRescueDetails(rescue.slug)"
        >
          {{ rescue.name }}
        </p>
      </ng-template>
    </div>
  </div>

  <!-- Size filter buttons -->
  <div class="filter-controls my-8 flex justify-center gap-2">
    <button
      class="px-6 py-2 rounded-full transition-all"
      [ngClass]="
        activeFilter === 'all'
          ? 'bg-localeColors-darkteal text-white'
          : 'bg-localeColors-red text-white'
      "
      (click)="filterRescuesBySize('all')"
    >
      All
    </button>
    <button
      class="px-6 py-2 rounded-full transition-all"
      [ngClass]="
        activeFilter === 'small'
          ? 'bg-localeColors-darkteal text-white'
          : 'bg-localeColors-red text-white'
      "
      (click)="filterRescuesBySize('small')"
    >
      Small
    </button>
    <button
      class="px-6 py-2 rounded-full transition-all"
      [ngClass]="
        activeFilter === 'medium'
          ? 'bg-localeColors-darkteal text-white'
          : 'bg-localeColors-red text-white'
      "
      (click)="filterRescuesBySize('medium')"
    >
      Medium
    </button>
    <button
      class="px-6 py-2 rounded-full transition-all"
      [ngClass]="
        activeFilter === 'large'
          ? 'bg-localeColors-darkteal text-white'
          : 'bg-localeColors-red text-white'
      "
      (click)="filterRescuesBySize('large')"
    >
      Large
    </button>
  </div>

  <!-- Centering the gallery -->
  <div
    class="rescues-gallery w-full max-w-screen-2xl mx-auto flex justify-center items-center flex-col py-10"
  >
    <div *ngIf="rescues.length > 0; else noRescues">
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-10 md:gap-14 w-full justify-center place-items-center"
      >
        <app-rescue-card
          *ngFor="let rescue of rescues"
          [rescue]="rescue"
          userType="admin"
        ></app-rescue-card>
      </div>
    </div>

    <ng-template #noRescues>
      <div
        class="col-span-full text-center text-xl font-semibold text-localeColors-darkteal opacity-50 w-full h-full my-auto p-5 py-auto"
      >
        <p class="uppercase text-lg lg:text-2xl">
          No rescued dogs available at the moment.
        </p>
      </div>
    </ng-template>
  </div>
</div>
