<div
  class="w-full flex flex-col xl:h-[90vh] p-10 gap-10 items-center justify-start xl:pl-20 pt-40"
>
  <h1
    class="text-7xl text-left xl:text-[10rem] xl:mr-80 text-localeColors-darkteal"
    data-aos="fade-up"
    data-aos-duration="800"
  >
    ABOUT US
  </h1>
  <p
    class="text-base text-center xl:text-lg xl:w-1/2 xl:ml-96 xl:text-left"
    data-aos="fade-up"
    data-aos-delay="300"
    data-aos-duration="800"
  >
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem
    ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum
    lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsumlorem ipsum lorem
    ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
  </p>
</div>

<div
  class="w-4/5 flex flex-col xl:h-[60vh] p-10 gap-10 items-center justify-start xl:pl-20 pt-40 bg-green-300 mx-auto"
  data-aos="fade-up"
  data-aos-delay="100"
  data-aos-duration="800"
></div>

<div
  class="w-full flex flex-col xl:h-[90vh] p-10 gap-10 items-center justify-start xl:pl-20 pt-40"
></div>
