<div
  class="w-full min-h-screen flex flex-col md:flex-row xl:h-screen bg-primary-light justify-start items-start md:justify-center xl:items-center xl:p-4 xl:gap-14 xl:min-h-[70vh]"
>
  <div class="lg:w-1/2 h-full rounded-2xl xl:flex flex-col gap-3 hidden">
    <div
      class="bg-red w-full h-full xl:h-5/5 flex justify-center items-center xl:p-10 2xl:p-36"
      data-aos="fade-up"
      data-aos-duration="800"
    >
      <h1
        class="xl:text-5xl text-center font-WinkySans text-localeColors-lightteal font-semibold active:bg-localeColors-darkteal"
      >
        <p class="text-lg text-localeColors-red">Heart of Paws</p>
        GIVE THE DOG WHAT LIFE IT DESERVES
      </h1>
    </div>
    <div
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="800"
      class="hidden xl:block bg-red w-full h-2/5 bg-blue-300 rounded-3xl shadow-md"
    >
      <img
        src="./images/hopAssets/loginDog.jpg"
        alt="login dog image"
        loading="lazy"
        class="w-full h-full object-cover rounded-3xl grayscale"
      />
    </div>
  </div>

  <div
    class="h-auto py-20 flex flex-col items-center justify-center w-full md:w-3/4 md:h-2/4 lg:w-full xl:w-3/5 2xl:w-2/5 lg:py-0 lg:h-full gap-5 xl:px-20 xl:py-0 bg-slate-300 rounded-2xl bgImg xl:shadow-md"
    data-aos="fade-up"
    data-aos-duration="800"
  >
    <div
      class="bg-primary-light h-full lg:h-full md:w-full lg:w-3/4 xl:w-full lg:mt-44 xl:mt-0 xl:h-3/4 flex flex-col justify-center items-center py-10 lg:p-20 xl:p-10 rounded-3xl mx-auto md:shadow-lg xl:shadow-none"
    >
      <h1
        class="text-left text-5xl lg:text-6xl 2xl:text-7xl uppercase font-WinkySans text-localeColors-darkteal mb-5"
      >
        Register
        <p class="text-2xl xl:text-xl font-WinkySans">
          Join us and help furry friends!
        </p>
      </h1>

      <p *ngIf="errorMessage" class="text-red-500 text-center text-sm">
        {{ errorMessage }}
      </p>

      <form
        class="w-full md:w-3/5 xl:w-full"
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit()"
      >
        <div>
          <app-form-input
            type="text"
            id="name"
            controlName="name"
            placeholder="Username"
            class="bg-transparent"
          ></app-form-input>
        </div>
        <div *ngIf="name.invalid && name.touched" class="mb-5">
          <p
            *ngIf="name.errors?.['required']"
            class="text-red-500 text-sm mb-4 -mt-4"
          >
            Full Name is required.
          </p>
        </div>

        <div>
          <app-form-input
            type="email"
            id="email"
            controlName="email"
            placeholder="Gmail"
            class="bg-transparent"
          ></app-form-input>
        </div>
        <div *ngIf="email.invalid && email.touched" class="mb-5">
          <p
            *ngIf="email.errors?.['required']"
            class="text-red-500 text-sm mb-4 -mt-4"
          >
            Email is required.
          </p>
        </div>

        <div>
          <app-form-input
            type="password"
            id="password"
            controlName="password"
            placeholder="Password"
            class="bg-transparent"
          ></app-form-input>
        </div>
        <div *ngIf="password.invalid && password.touched" class="mb-5">
          <p
            *ngIf="password.errors?.['required']"
            class="text-red-500 text-sm mb-4 -mt-4"
          >
            Password is required.
          </p>
        </div>

        <div>
          <app-form-input
            type="password"
            id="confirmPassword"
            controlName="confirmPassword"
            placeholder="Confirm Password"
            class="bg-transparent"
          ></app-form-input>
        </div>
        <div *ngIf="confirmPassword.touched" class="mb-5">
          <p
            *ngIf="confirmPassword.errors?.['required']"
            class="text-red-500 text-sm mb-4 -mt-4"
          >
            Confirm Password is required.
          </p>
        </div>

        <div>
          <button
            type="submit"
            class="text-white w-full mb-5 bg-localeColors-red hover:bg-localeColors-lightteal active:bg-localeColors-darkteal focus:outline-none font-medium rounded-full text-xs sm:text-sm md:text-base lg:text-base xl:text-xl px-4 sm:px-6 md:px-8 lg:px-30 xl:px-12 py-2 sm:py-2.5 md:py-3 lg:py-3.5 xl:py-4 text-center"
          >
            Create Account
          </button>
        </div>

        <div>
          <p class="text-sm flex items-center gap-1">
            Have an account?
            <a
              routerLink="/login"
              class="relative w-fit after:inline-block after:content-[''] after:absolute after:left-0 after:bottom-0 after:h-[2px] after:bg-localeColors-darkteal after:w-0 hover:after:w-full after:transition-all after:duration-300 after:origin-left font-normal hover:text-localeColors-darkteal"
              >Click here to login</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
