<div
  class="w-full min-h-screen flex justify-center items-center"
  data-aos="fade-right"
  data-aos-duration="800"
>
  <div class="w-full lg:w-3/4 xl:w-1/2 h-auto">
    <h1
      class="text-5xl 2xl:text-7xl tracking-tight leading-tight text-left text-localeColors-darkteal font-WinkySans font-semibold mb-5"
    >
      UPDATE RESCUED DOGS
    </h1>
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit(rescue._id)">
      <app-form-input
        label="Rescue Name"
        type="text"
        controlName="name"
        [placeholder]="rescue.name"
      ></app-form-input>

      <label class="block mb-2 text-sm font-medium text-localeColors-darkteal">
        Sex
      </label>

      <div class="flex gap-4 mb-4">
        <label class="inline-flex items-center">
          <input
            type="radio"
            formControlName="sex"
            value="male"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Male</span>
        </label>

        <label class="inline-flex items-center">
          <input
            type="radio"
            formControlName="sex"
            value="female"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Female</span>
        </label>
      </div>

      <div *ngIf="sex.invalid && sex.touched">
        <p
          *ngIf="sex.errors?.['required']"
          class="text-red-500 text-sm -mt-4 mb-4"
        >
          Rescue's sex is required.
        </p>
      </div>

      <label class="block mb-2 text-sm font-medium text-localeColors-darkteal">
        Age
      </label>

      <div class="flex gap-4 mb-4">
        <input
          type="number"
          min="1"
          formControlName="ageValue"
          placeholder="Enter age"
          class="border w-full bg-transparent border-black p-2 rounded-3xl focus:border-2 focus:outline-none focus:border-localeColors-lightteal focus:shadow-md"
        />

        <select
          formControlName="ageUnit"
          class="border w-full bg-transparent border-black p-2 rounded-3xl focus:border-2 focus:outline-none focus:border-localeColors-lightteal focus:shadow-md"
        >
          <option value="years">Years</option>
          <option value="months">Months</option>
          <option value="days">Days</option>
        </select>
      </div>

      <div
        *ngIf="
          updateForm.controls['ageValue'].invalid &&
          updateForm.controls['ageValue'].touched
        "
      >
        <p
          *ngIf="updateForm.controls['ageValue'].errors?.['required']"
          class="text-red-500 text-sm -mt-4 mb-4"
        >
          Age is required.
        </p>
        <p
          *ngIf="updateForm.controls['ageValue'].errors?.['min']"
          class="text-red-500 text-sm -mt-4 mb-4"
        >
          Must be at least 1.
        </p>
        <p
          *ngIf="updateForm.controls['ageValue'].errors?.['pattern']"
          class="text-red-500 text-sm -mt-4 mb-4"
        >
          Only numbers are allowed.
        </p>
      </div>

      <div class="flex flex-wrap gap-4 mb-4">
        <label class="inline-flex items-center">
          <input
            type="checkbox"
            [value]="'Sterilized'"
            (change)="onCheckboxChange($event)"
            [checked]="vetStatus.value?.includes('Sterilized')"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Sterilized (Spayed/Neutered)</span>
        </label>

        <label class="inline-flex items-center">
          <input
            type="checkbox"
            [value]="'Vet Checked'"
            (change)="onCheckboxChange($event)"
            [checked]="vetStatus.value?.includes('Vet Checked')"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900"
            >Vet Checked (Routine Health Check)</span
          >
        </label>

        <label class="inline-flex items-center">
          <input
            type="checkbox"
            [value]="'Dewormed'"
            (change)="onCheckboxChange($event)"
            [checked]="vetStatus.value?.includes('Dewormed')"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Dewormed</span>
        </label>

        <label class="inline-flex items-center">
          <input
            type="checkbox"
            [value]="'Rabies Vaccinated'"
            (change)="onCheckboxChange($event)"
            [checked]="vetStatus.value?.includes('Rabies Vaccinated')"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Rabies Vaccinated</span>
        </label>

        <label class="inline-flex items-center">
          <input
            type="checkbox"
            [value]="'Distemper Vaccinated'"
            (change)="onCheckboxChange($event)"
            [checked]="vetStatus.value?.includes('Distemper Vaccinated')"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Distemper Vaccinated</span>
        </label>

        <label class="inline-flex items-center">
          <input
            type="checkbox"
            [value]="'Parvo Vaccinated'"
            (change)="onCheckboxChange($event)"
            [checked]="vetStatus.value?.includes('Parvo Vaccinated')"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Parvo Vaccinated</span>
        </label>
      </div>

      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Description</label
      >
      <textarea
        id="description"
        rows="4"
        formControlName="description"
        class="block p-2.5 w-full text-sm text-gray-900 bg-transparent border-black border focus:border-2 focus:outline-none focus:border-localeColors-lightteal focus:shadow-md rounded-2xl mb-4"
        [placeholder]="rescue.description"
      ></textarea>

      <div class="flex justify-between gap-10">
        <div class="mb-4 w-full">
          <label
            for="featureImage"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Feature Image</label
          >
          <input
            id="featureImage"
            type="file"
            (change)="handleFeatureImageUpload($event)"
            accept="image/*"
            class="mb-4 block w-full text-sm text-gray-900 border border-black bg-transparent rounded-full focus:border-localeColors-lightteal cursor-pointer bg-gray-50 p-3"
          />
        </div>

        <div class="mb-4 w-full">
          <label
            for="galleryImages"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Gallery Images</label
          >
          <input
            id="galleryImages"
            type="file"
            (change)="handleGalleryImagesUpload($event)"
            accept="image/*"
            multiple
            class="mb-4 block w-full text-sm text-gray-900 border border-black bg-transparent rounded-full focus:border-localeColors-lightteal cursor-pointer bg-gray-50 p-3"
          />
        </div>
      </div>
      <button
        type="submit"
        (click)="confirmUpdate(rescue._id)"
        [disabled]="loading"
        class="text-white w-full bg-localeColors-red hover:bg-localeColors-lightteal focus:outline-none font-medium rounded-full text-xs sm:text-sm md:text-base lg:text-base xl:text-xl px-4 sm:px-6 md:px-8 lg:px-30 xl:px-12 py-2 sm:py-2.5 md:py-3 lg:py-3.5 xl:py-4 text-center"
      >
        <span *ngIf="!loading">Update {{ rescue.name }}</span>
        <span *ngIf="loading"><p class="animate-pulse">Loading...</p></span>
      </button>
    </form>
    <!-- This is the closing tag of the form -->
  </div>
</div>
