<form [formGroup]="updateForm" (ngSubmit)="onSubmit(rescue._id)">
  <!-- Name -->
  <app-form-input
    label="Rescue Name"
    type="text"
    controlName="name"
    [placeholder]="rescue.name"
  ></app-form-input>

  <label
    for="sex"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Sex</label
  >
  <select
    formControlName="sex"
    id="sex"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
  >
    <option [value]="rescue.sex">{{ rescue.sex }}</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>

  <app-form-input
    label="Age"
    type="text"
    controlName="age"
    [placeholder]="rescue.age"
  ></app-form-input>

  <label
    for="description"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Description</label
  >
  <textarea
    id="description"
    rows="4"
    formControlName="description"
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4"
    [placeholder]="rescue.description"
  ></textarea>

  <!-- Feature Image Upload -->
  <div class="mb-4">
    <label
      for="featureImage"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Feature Image</label
    >
    <input
      id="featureImage"
      type="file"
      (change)="handleFeatureImageUpload($event)"
      accept="image/*"
      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    />
  </div>

  <!-- Gallery Images Upload -->
  <div class="mb-4">
    <label
      for="galleryImages"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Gallery Images</label
    >
    <input
      id="galleryImages"
      type="file"
      (change)="handleGalleryImagesUpload($event)"
      accept="image/*"
      multiple
      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
    />
  </div>

  <app-button type="submit" text="Update Rescue"></app-button>
</form>
