<!-- landing page -->
<div class="w-full h-full flex flex-col md:flex-row xl:h-[85vh]">
  <div
    class="h-full w-full md:w-1/2 flex flex-col items-center 2xl:items-end justify-center xl:w-3/6 p-3"
  >
    <h1
      class="w-4/5 md:3/5 lg:w-4/5 xl:w-4/5 font-WinkySans font-semibold text-5xl text-center md:text-4xl lg:text-6xl xl:text-7xl 2xl:text-8xl text-localeColors-darkteal xl:leading-1 uppercase mb-5"
      data-aos="fade-up"
      data-aos-duration="800"
    >
      Be the Heart of a Hero
    </h1>
    <p
      class="text-sm xl:pl-0 text-black lg:text-lg w-3/4 md:w-4/5 text-center mb-5 font-Monteserrat"
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="800"
    >
      Every act of kindness creates ripples of change. Your support can save
      lives, bring hope, and make a lasting impact. Join us in making a
      difference because heroes aren’t born, they’re made by the choices they
      make.Your contribution fuels our mission. Be the hero someone needs today!
    </p>
    <button
      type="button"
      data-aos="fade-up"
      data-aos-delay="300"
      data-aos-duration="800"
      routerLink="/how-to-help"
      class="text-white 2xl:mr-64 bg-localeColors-red hover:bg-localeColors-lightteal active:bg-localeColors-darkteal focus:outline-none font-medium rounded-full mt-5 text-xs sm:text-sm md:text-base lg:text-base xl:text-xl px-4 sm:px-6 md:px-8 lg:px-30 xl:px-12 py-2 sm:py-2.5 md:py-3 lg:py-3.5 xl:py-4 text-center"
    >
      Donate Now
    </button>
  </div>
  <div class="w-full md:w-1/2 flex justify-center items-center">
    <div
      class="container relative rounded-2xl w-72 aspect-square h-72 xl:mt-20 lg:w-80 lg:h-80 xl:h-[60%] xl:w-auto mt-5 shadow-lg overflow-hidden"
      data-aos="fade-left"
      data-aos-duration="1000"
    >
      <img
        *ngFor="let image of images; let i = index"
        [src]="image"
        [attr.loading]="i === currentIndex ? 'eager' : 'lazy'"
        alt="Slideshow Image"
        class="absolute top-0 left-0 w-full h-full object-cover rounded-2xl transition-opacity duration-1000"
        [ngClass]="{
          'opacity-0': i !== currentIndex,
          'opacity-100': i === currentIndex
        }"
      />
    </div>
  </div>
</div>
<!-- landing page end -->

<!-- featured pets section -->
<div
  class="w-full flex flex-col lg:flex-row h-auto xl:h-[100vh] justify-center items-center pt-20 xl:p-20"
>
  <div
    class="w-full h-full xl:w-3/5 grid grid-cols-2 xl:grid-cols-2 gap-2 place-items-center aspect-square p-10 xl:p-20"
    data-aos="fade-right"
    data-aos-duration="1000"
  >
    <div class="w-full aspect-square rounded-2xl bg-red-900 shadow-lg">
      <img
        src="./images/homePage/dog1.jpg"
        alt="featured dog 1"
        loading="lazy"
        class="w-full h-full object-cover rounded-2xl"
      />
    </div>
    <div class="w-full aspect-square rounded-2xl bg-red-900 shadow-lg">
      <img
        src="./images/homePage/dog2.jpg"
        alt="featured dog 2"
        loading="lazy"
        class="w-full h-full object-cover rounded-2xl"
      />
    </div>
    <div class="w-full aspect-square rounded-2xl bg-red-900 shadow-lg">
      <img
        src="./images/homePage/dog3.jpg"
        alt="featured dog 3"
        loading="lazy"
        class="w-full h-full object-cover rounded-2xl"
      />
    </div>
    <div class="w-full aspect-square rounded-2xl bg-red-900 shadow-lg">
      <img
        src="./images/homePage/dog4.jpg"
        alt="featured dog 4"
        loading="lazy"
        class="w-full h-full object-cover rounded-2xl"
      />
    </div>
  </div>

  <!-- Static Text Section (Right Side) -->
  <div
    class="h-auto flex flex-col pl-5 w-full items-start justify-center 2xl:w-2/5 xl:h-full order-1 lg:order-2 gap-5"
  >
    <h1
      class="text-5xl md:text-7xl xl:text-8xl lg:ml-11 leading-1 text-center lg:text-left text-localeColors-darkteal font-semibold font-WinkySans"
      data-aos="fade-up"
      data-aos-duration="1000"
    >
      RESCUED DOGS
    </h1>
    <p
      class="text-sm xl:pl-0 text-black lg:text-lg w-3/4 md:w-4/5 text-left font-Monteserrat lg:ml-11"
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="800"
    >
      Every rescue is a story of hope, love, and a second chance. These dogs
      have overcome hardships and are now looking for their forever homes. Your
      kindness can change their lives—whether through adoption, fostering, or
      support.
    </p>
    <button
      type="button"
      type="button"
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="800"
      class="xl:block md:ml-0 lg:ml-10 text-white bg-localeColors-red hover:bg-localeColors-lightteal active:bg-localeColors-darkteal focus:outline-none font-medium rounded-full text-xs sm:text-sm md:text-base lg:text-lg xl:text-xl px-4 sm:px-6 md:px-8 lg:px-30 xl:px-12 py-2 sm:py-2.5 md:py-3 lg:py-3.5 xl:py-4 text-center"
    >
      View Dogs
    </button>
  </div>
</div>

<!-- featured pets section end -->

<!-- Carousel Section -->
<h1
  class="text-7xl lg:text-8xl xl:text-[9.5rem] mt-24 xl:mt-44 ml-3 xl:ml-10 text-localeColors-darkteal font-semibold font-WinkySans"
  data-aos="fade-right"
  data-aos-duration="800"
>
  SUCCESS STORIES
</h1>
<div
  class="w-full flex justify-end p-7"
  data-aos="fade-up"
  data-aos-duration="1000"
>
  <p class="w-full md:w-3/5 text-right text-sm xl:text-base">
    every rescue has a story of hope and transformation. From abandoned strays
    to neglected pets, our team works tirelessly to give them a second chance at
    life. Many have found loving families, like Max, who once roamed the streets
    but now enjoys a warm home. Every adoption is a reminder that compassion
    changes lives—one paw at a time.
  </p>
</div>
<div
  class="w-full flex flex-col items-center justify-center xl:h-[80vh] mt-10 pb-10 lg:pb-32"
  data-aos="fade-up"
  data-aos-delay="200"
  data-aos-duration="800"
>
  <div
    id="indicators-carousel"
    class="relative w-full h-80 md:h-96 xl:h-full max-w-2xl p-3"
    data-carousel="static"
  >
    <!-- Carousel wrapper -->
    <div class="relative h-full overflow-hidden rounded-lg">
      <!-- Items -->
      <div
        class="hidden duration-700 ease-in-out bg-red-400"
        data-carousel-item="active"
      >
        <img
          src="/docs/images/carousel/carousel-1.svg"
          class="absolute block w-full h-full object-cover top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
          alt="Slide 1"
        />
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="/docs/images/carousel/carousel-2.svg"
          class="absolute block w-full h-full object-cover top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
          alt="Slide 2"
        />
      </div>
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img
          src="/docs/images/carousel/carousel-3.svg"
          class="absolute block w-full h-full object-cover top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
          alt="Slide 3"
        />
      </div>
    </div>

    <!-- Slider indicators -->
    <div
      class="absolute z-30 flex -translate-x-1/2 space-x-3 bottom-5 left-1/2"
    >
      <button
        type="button"
        class="w-3 h-3 rounded-full bg-white/50"
        data-carousel-slide-to="0"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full bg-white/30"
        data-carousel-slide-to="1"
      ></button>
      <button
        type="button"
        class="w-3 h-3 rounded-full bg-white/30"
        data-carousel-slide-to="2"
      ></button>
    </div>

    <!-- Slider controls -->
    <button
      type="button"
      class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group"
      data-carousel-prev
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 bg-white/30 rounded-full group-hover:bg-white/50"
      >
        <svg class="w-4 h-4 text-white" viewBox="0 0 6 10" fill="none">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 1 1 5l4 4"
          />
        </svg>
      </span>
    </button>
    <button
      type="button"
      class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group"
      data-carousel-next
    >
      <span
        class="inline-flex items-center justify-center w-10 h-10 bg-white/30 rounded-full group-hover:bg-white/50"
      >
        <svg class="w-4 h-4 text-white" viewBox="0 0 6 10" fill="none">
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 9 4-4-4-4"
          />
        </svg>
      </span>
    </button>
  </div>
</div>
