<main id="top" class="bg-primary-light dark:bg-primary-dark">
  <app-navbar *ngIf="!isAdminRoute"></app-navbar>
  <div class="router-container">
    <router-outlet></router-outlet>
  </div>
  <div
    [ngClass]="{ scrolled: isScrolled, 'hidden-on-scroll': !isScrolled }"
    class="w-16 h-16 fixed bottom-5 right-5 flex items-center justify-center rounded-full shadow-lg transition-opacity ease-in-out duration-500 cursor-pointer"
    (click)="scrollToTop()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="white"
      width="30"
      height="30"
    >
      <path
        fill-rule="evenodd"
        d="M12 4a1 1 0 0 1 .707.293l6 6a1 1 0 0 1-1.414 1.414L13 7.414V19a1 1 0 1 1-2 0V7.414L6.707 11.707a1 1 0 0 1-1.414-1.414l6-6A1 1 0 0 1 12 4z"
        clip-rule="evenodd"
      />
    </svg>
  </div>

  <app-footer *ngIf="showFooter()"></app-footer>
</main>
