<!-- Navbar (Optional, if needed) -->

<div class="flex">
  <!-- Sidebar -->
  <aside
    id="sidebar"
    [ngClass]="{
      '-translate-x-full': isSidebarHidden,
      'translate-x-0': !isSidebarHidden
    }"
    class="w-64 min-h-screen bg-primary-light border-r-2 border-localeColors-cyan shadow-lg fixed lg:sticky lg:top-0 lg:h-screen lg:translate-x-0 -translate-x-full transition-transform duration-300 ease-in-out z-50"
  >
    <div class="p-4 flex justify-between items-center">
      <a routerLink="/admin" class="flex items-center space-x-3">
        <span
          class="text-3xl font-bold font-WinkySans text-localeColors-darkteal"
        >
          Heart Of Paws Admin
        </span>
      </a>
      <!-- Close Button for Mobile -->
      <button class="lg:hidden text-gray-700" (click)="toggleSidebar()">
        ✕
      </button>
    </div>
    <ul class="p-4 space-y-2">
      <li>
        <a
          routerLink="/admin"
          class="block py-2 px-3 text-gray-900 rounded-lg hover:bg-localeColors-lightteal hover:text-white duration-100"
        >
          All Rescues
        </a>
      </li>
      <li>
        <a
          routerLink="/admin/users"
          class="block py-2 px-3 text-gray-900 rounded-lg hover:bg-localeColors-lightteal hover:text-white duration-100"
        >
          All Users
        </a>
      </li>
      <li>
        <a
          routerLink="/admin/create-rescue"
          class="block py-2 px-3 text-gray-900 rounded-lg hover:bg-localeColors-lightteal hover:text-white duration-100"
        >
          Add Rescue
        </a>
      </li>
      <li>
        <a
          routerLink="/admin/inquiries"
          class="block py-2 px-3 text-gray-900 rounded-lg hover:bg-localeColors-lightteal hover:text-white duration-100"
        >
          Inquiries
        </a>
      </li>
      <ng-container>
        <li *ngIf="isAdminAuthenticated" class="">
          <a
            (click)="logoutAdmin()"
            class="block py-2 px-3 rounded-lg bg-localeColors-red hover:bg-red-700 text-white duration-200 cursor-pointer"
          >
            Logout
          </a>
        </li>
      </ng-container>
    </ul>
  </aside>

  <!-- Main Content Wrapper -->
  <div
    class="flex-1 min-h-screen bg-primary-light p-2 justify-center items-center overflow-hidden"
  >
    <!-- Sidebar Toggle Button for Mobile -->
    <button
      id="toggleSidebar"
      class="lg:hidden bg-gray-200 rounded-lg focus:outline-none mb-4"
      (click)="toggleSidebar()"
    >
      <svg
        class="w-8 h-8 p-1 text-gray-700"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16m-7 6h7"
        />
      </svg>
    </button>

    <router-outlet></router-outlet>
  </div>
</div>
