<div
  class="max-w-md bg-accentCyan rounded-2xl flex flex-col justify-end cursor-default hover:cursor-pointer aspect-square"
  [routerLink]="cardLink"
>
  <!-- Image Wrapper with relative positioning -->
  <div class="relative w-full h-full overflow-hidden rounded-2xl">
    <!-- Background Image -->
    <img
      class="w-full h-full object-cover transition-transform duration-300 hover:scale-110"
      [src]="rescue.featureImage"
      alt="{{ rescue.name }}"
    />

    <!-- Overlay Text -->
    <div
      class="absolute inset-0 bg-black/20 flex flex-col justify-end p-5 rounded-2xl pointer-events-none"
    >
      <a href="#">
        <h5
          class="mb-2 text-xl sm:text-2xl tracking-tight text-white uppercase font-Monteserrat font-bold"
        >
          {{ rescue.name }}
        </h5>
      </a>
    </div>

    <!-- Icon Overlay on Image -->
    <a *ngIf="userType == 'admin'"
      href="#"
      class="absolute bottom-3 right-3 bg-slate-100 text-black p-2 rounded-full flex items-center justify-center w-10 h-10"
    >
      {{ applicationCount }}
    </a>
  </div>
</div>
