<div
  class="max-w-md bg-accentCyan rounded-2xl dark:bg-gray-800 min-h-[350px] flex flex-col justify-end cursor-default hover:cursor-pointer"
  [routerLink]="cardLink"
>
  <!-- Image Wrapper with relative positioning -->
  <div class="relative w-full overflow-hidden rounded-2xl">
    <!-- Background Image -->
    <img
      class="w-full h-[350px] object-cover transition-transform duration-300 hover:scale-110"
      [src]="rescue.featureImage"
      alt="{{ rescue.name }}"
    />

    <!-- Overlay Text -->
    <div
      class="absolute inset-0 bg-black/20 flex flex-col justify-end p-5 rounded-2xl pointer-events-none"
    >
      <a href="#">
        <h5
          class="mb-2 text-xl sm:text-2xl tracking-tight text-white uppercase font-Monteserrat font-bold"
        >
          {{ rescue.name }}
          {{ cardLink }}
        </h5>
      </a>
    </div>

    <!-- Icon Overlay on Image -->
    <a
      href="#"
      class="absolute bottom-3 right-3 bg-slate-100 text-black p-2 rounded-full flex items-center justify-center w-10 h-10"
    >
      <svg
        class="w-6 h-6"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="currentColor"
      >
        <path
          d="M7 17L17 7M17 7H8M17 7V16"
          stroke="#1c959d"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </a>
  </div>
</div>
