<div
  class="w-full h-auto flex flex-col xl:h-screen justify-center xl:justify-center items-center"
>
  <div
    class="h-auto w-[90%] lg:w-3/5 2xl:w-auto flex gap-2 items-center flex-col md:flex-row justify-center p-5 shadow-xl rounded-3xl"
    data-aos="fade-up"
    data-aos-duration="800"
  >
    <div
      class="h-full w-3/4 flex flex-col md:flex-row items-center justify-center xl:gap-5 2xl:p-20 md:border-r-2 border-localeColors-red"
    >
      <div
        class="w-auto h-full flex flex-col items-start justify-center p-5 md:p-10"
      >
        <div
          class="w-52 h-52 md:w-72 md:h-72 2xl:w-[25rem] 2xl:h-[25rem] rounded-3xl shadow-lg overflow-hidden"
        >
          <img
            class="w-full h-full rounded-3xl mb-5 object-cover transition-transform duration-500 hover:scale-110"
            [src]="userProfile.profileImage"
            alt="profile image of {{ userProfile.name }}"
            loading="lazy"
          />

          <!-- <p *ngIf="uploadNotification" class="text-green-500 text-center">
            {{ uploadNotification }}
          </p> -->
          <p *ngIf="errorMessage" class="text-red-500 text-center">
            {{ errorMessage }}
          </p>
        </div>
        <button
          type="button"
          (click)="openFileInput()"
          class="mt-5 shadow-md mx-auto w-3/4 text-white bg-localeColors-lightteal hover:bg-localeColors-red active:bg-localeColors-darkteal duration-200 focus:outline-none font-Monteserrat font-medium rounded-full text-xs sm:text-sm md:text-base lg:text-base xl:text-xl px-4 sm:px-6 md:px-8 lg:px-30 xl:px-12 py-2 sm:py-2.5 md:py-3 lg:py-3.5 xl:py-4 text-center"
        >
          Change Pic
        </button>
      </div>

      <input
        #fileInput
        type="file"
        accept="image/*"
        (change)="onFileSelected($event, userProfile._id)"
        style="display: none"
      />
    </div>

    <div
      class="w-full h-full flex flex-col gap-2 items-center md:items-start justify-center md:px-10 2xl:px-20"
    >
      <p
        class="text-5xl md:text-7xl 2xl:text-7xl 2xl:mb-10 text-localeColors-darkteal font-WinkySans font-semibold"
      >
        {{ userProfile.name }}
      </p>
      <p class="text-sm 2xl:text-xl">
        <span class="text-xl 2xl:text-2xl font-Monteserrat font-normal">
          {{ userProfile.email }}
        </span>
      </p>
    </div>
  </div>
</div>
<h1
  class="ml-10 mt-10 text-5xl text-left xl:text-8xl xl:mr-80 text-localeColors-darkteal uppercase font-WinkySans font-semibold"
  data-aos="fade-up"
  data-aos-duration="800"
>
  Adoption Applications
</h1>

<div
  class="filter-controls my-8 flex flex-wrap justify-start items-start gap-2 ml-10"
  data-aos="fade-up"
  data-aos-duration="800"
>
  <button
    class="px-6 py-2 rounded-full transition-all hover:bg-localeColors-darkteal font-Monteserrat font-regular"
    [ngClass]="
      activeFilter === 'all'
        ? 'bg-localeColors-darkteal text-white'
        : 'bg-localeColors-red text-white'
    "
    (click)="filterApplicationsByStatus('all', userProfile._id)"
  >
    All
  </button>
  <button
    class="px-6 py-2 rounded-full transition-all hover:bg-localeColors-darkteal font-Monteserrat font-regular"
    [ngClass]="
      activeFilter === 'pending'
        ? 'bg-localeColors-darkteal text-white'
        : 'bg-localeColors-red text-white'
    "
    (click)="filterApplicationsByStatus('pending', userProfile._id)"
  >
    Pending
  </button>
  <button
    class="px-6 py-2 rounded-full transition-all hover:bg-localeColors-darkteal font-Monteserrat font-regular"
    [ngClass]="
      activeFilter === 'rejected'
        ? 'bg-localeColors-darkteal text-white'
        : 'bg-localeColors-red text-white'
    "
    (click)="filterApplicationsByStatus('rejected', userProfile._id)"
  >
    Rejected
  </button>
  <button
    class="px-6 py-2 rounded-full transition-all hover:bg-localeColors-darkteal font-Monteserrat font-regular"
    [ngClass]="
      activeFilter === 'approved'
        ? 'bg-localeColors-darkteal text-white'
        : 'bg-localeColors-red text-white'
    "
    (click)="filterApplicationsByStatus('approved', userProfile._id)"
  >
    Approved
  </button>
</div>

<div
  class="h-auto min-h-[70vh] w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 place-content-center place-items-center gap-10 p-10 2xl:px-40 2xl:mt-10"
  data-aos="fade-up"
  data-aos-duration="800"
>
  <div
    *ngIf="userApplications.length === 0"
    class="col-span-full text-center text-xl font-semibold text-localeColors-darkteal opacity-50 w-full h-full my-auto"
  >
    <p class="uppercase text-lg lg:text-2xl">
      No adoption applications submitted yet.
    </p>
  </div>

  <div
    class="card w-full h-auto shadow-2xl rounded-2xl p-4"
    *ngFor="let application of userApplications"
  >
    <h2
      class="text-3xl ml-2 uppercase text-localeColors-darkteal font-semibold font-Monteserrat"
    >
      {{ application.rescue.name }}
    </h2>
    <div class="w-full h-72 bg-white rounded-2xl mt-4 overflow-hidden">
      <img
        [src]="application.rescue.featureImage"
        alt="{{ application.rescue.name }}"
        class="w-full h-full object-cover rounded-2xl transition-transform duration-300 hover:scale-110"
      />
    </div>

    <div class="flex justify-between p-3 px-5 mb-4 rounded-3xl">
      <p class="text-lg">
        <span
          class="text-sm text-localeColors-darkteal font-medium font-Monteserrat"
          >Application Status</span
        ><br />
        <span
          class="w-3 h-3 rounded-full inline-block mr-2"
          [ngClass]="{
            'bg-green-500': application.status === 'approved',
            'bg-yellow-500': application.status === 'pending',
            'bg-red-500': application.status === 'rejected'
          }"
        ></span>
        {{ application.status | titlecase }}
      </p>
      <p class="text-lg">
        <span
          class="text-sm text-localeColors-darkteal font-medium font-Monteserrat"
          >Appointment mode</span
        ><br />
        {{ application.appointmentMode | titlecase }} Interview
      </p>
    </div>
    <div
      class="flex justify-between p-3 px-5 border-t-2 border-localeColors-darkteal mb-4"
    >
      <p class="text-lg">
        <span
          class="text-sm text-localeColors-darkteal font-medium font-Monteserrat"
          >Date</span
        ><br />
        {{ application.interviewDate | date }}
      </p>

      <p class="text-lg">
        <span
          class="text-sm text-localeColors-darkteal font-medium font-Monteserrat"
          >Time</span
        ><br />
        {{ application.interviewTime }}
      </p>
    </div>
    <button
      type="submit"
      (click)="deleteUserApplication(application._id)"
      class="text-white w-3/4 bg-localeColors-red hover:bg-red-700 focus:outline-none font-medium rounded-full text-xs sm:text-sm md:text-base lg:text-base xl:text-xl px-4 sm:px-6 md:px-8 lg:px-30 xl:px-12 py-2 sm:py-2.5 md:py-3 lg:py-3.5 xl:py-2.5 text-center"
    >
      Cancel
    </button>
  </div>
</div>
