<div class="w-full flex flex-col md:flex-row 2xl:min-h-screen py-10">
  <div
    class="w-full md:w-1/2 flex flex-col p-10 md:items-start md:justify-start gap-5"
    data-aos="fade-right"
    data-aos-delay="200"
    data-aos-duration="800"
  >
    <h1
      class="text-center uppercase text-5xl md:text-left 2xl:text-8xl text-localeColors-darkteal font-WinkySans font-semibold"
    >
      Give {{ rescue.name }}<br />
      a chance
    </h1>

    <div
      class="aspect-square md:w-96 2xl:w-[35rem] mx-auto mt-5 rounded-2xl shadow-lg"
    >
      <img
        [src]="rescue.featureImage"
        alt="{{ rescue.name }} "
        class="w-full h-full object-cover rounded-2xl aspect-square"
      />
    </div>
  </div>

  <div class="md:w-1/2 flex items-center justify-center gap-5">
    <form
      [formGroup]="applicationForm"
      (ngSubmit)="onSubmit()"
      class="w-3/4"
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="800"
    >
      <app-form-input
        label="Full Name"
        type="text"
        id="name"
        controlName="name"
        placeholder="John Smith"
        class="mb-4"
      ></app-form-input>

      <div *ngIf="name.invalid && name.touched">
        <p
          *ngIf="name.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Full Name is required.
        </p>
        <p
          *ngIf="name.errors?.['minlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be at least 6 characters.
        </p>
        <p
          *ngIf="name.errors?.['maxlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be less than 50 characters.
        </p>
        <p
          *ngIf="name.errors?.['pattern']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Only letters and spaces allowed.
        </p>
      </div>

      <app-form-input
        label="Phone Number"
        type="tel"
        id="phone"
        controlName="phone"
        placeholder="+639123456789"
        class=""
      ></app-form-input>

      <div *ngIf="phoneNo.invalid && phoneNo.touched">
        <p
          *ngIf="phoneNo.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Phone Number is required.
        </p>
        <p
          *ngIf="phoneNo.errors?.['pattern']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be a valid 11-digit phone number.
        </p>
      </div>

      <app-form-input
        label="Address"
        type="text"
        id="address"
        controlName="address"
        placeholder="Lalam Pangulo St. Barangay Babo Nasi"
        class="mb-4"
      ></app-form-input>

      <div *ngIf="address.invalid && address.touched">
        <p
          *ngIf="address.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Address is required.
        </p>
        <p
          *ngIf="address.errors?.['minlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be at least 10 characters.
        </p>
        <p
          *ngIf="address.errors?.['maxlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be less than 100 characters.
        </p>
      </div>

      <!-- sex -->

      <label class="block mb-2 text-sm font-medium text-localeColors-darkteal">
        Sex
      </label>

      <div class="flex gap-4 mb-4">
        <label class="inline-flex items-center">
          <input
            type="radio"
            formControlName="sex"
            value="male"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Male</span>
        </label>

        <label class="inline-flex items-center">
          <input
            type="radio"
            formControlName="sex"
            value="female"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Female</span>
        </label>
      </div>

      <div *ngIf="sex.invalid && sex.touched">
        <p
          *ngIf="sex.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Applicant's sex is required.
        </p>
      </div>

      <!-- sex -->

      <!-- age -->

      <label class="block mb-2 text-sm font-medium text-localeColors-darkteal">
        Age
      </label>

      <div class="flex gap-4 mb-4 w-full xl:w-1/4">
        <input
          type="number"
          min="12"
          formControlName="age"
          placeholder="Applicant age"
          class="w-full p-3 bg-transparent border border-black text-gray-900 text-sm rounded-full focus:border-localeColors-lightteal"
        />
      </div>

      <div
        *ngIf="
          applicationForm.controls['age'].invalid &&
          applicationForm.controls['age'].touched
        "
      >
        <p
          *ngIf="applicationForm.controls['age'].errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Age is required.
        </p>
        <p
          *ngIf="applicationForm.controls['age'].errors?.['min']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be at least 12 years old.
        </p>
      </div>

      <!-- age -->

      <!-- civil status -->

      <label class="block mb-2 text-sm font-medium text-localeColors-darkteal">
        Civil Status
      </label>

      <div class="flex flex-wrap gap-4 mb-4">
        <label class="inline-flex items-center">
          <input
            type="radio"
            formControlName="civilStatus"
            value="single"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Single</span>
        </label>

        <label class="inline-flex items-center">
          <input
            type="radio"
            formControlName="civilStatus"
            value="married"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Married</span>
        </label>

        <label class="inline-flex items-center">
          <input
            type="radio"
            formControlName="civilStatus"
            value="divorced"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Divorced</span>
        </label>

        <label class="inline-flex items-center">
          <input
            type="radio"
            formControlName="civilStatus"
            value="widowed"
            class="w-4 h-4 text-localeColors-lightteal bg-gray-100 border-black focus:ring-localeColors-lightteal"
          />
          <span class="ml-2 text-gray-900">Widowed</span>
        </label>
      </div>
      <div *ngIf="civilStatus.invalid && civilStatus.touched">
        <p
          *ngIf="civilStatus.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Civil Status is required.
        </p>
      </div>

      <!-- civil status -->

      <!-- occupation -->

      <app-form-input
        label="Occupation"
        type="text"
        id="occupation"
        controlName="occupation"
        placeholder="Unemployed"
        class="mb-4"
      ></app-form-input>

      <div *ngIf="occupation.invalid && occupation.touched">
        <p
          *ngIf="occupation.errors?.['pattern']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Only letters and spaces allowed.
        </p>
      </div>
      <textarea
        id="message"
        rows="4"
        formControlName="introductionMessage"
        class="block p-2.5 w-full text-sm text-gray-900 bg-transparent border-black border focus:border-2 focus:outline-none focus:border-localeColors-lightteal focus:shadow-md rounded-2xl mb-4"
        placeholder="Share a bit about yourself and why you want to adopt {{
          rescue.name
        }}."
      ></textarea>

      <div *ngIf="introductionMessage.invalid && introductionMessage.touched">
        <p
          *ngIf="introductionMessage.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Introduction Message is required.
        </p>
        <p
          *ngIf="introductionMessage.errors?.['minlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be at least 10 characters.
        </p>
      </div>
      <!-- occupation -->

      <!-- interview details -->
      <div class="p-7 mb-4 rounded-3xl shadow-lg">
        <h3
          class="text-lg font-Monteserrat font-medium text-localeColors-darkteal mb-4"
        >
          Interview Appointment Details
        </h3>
        <label
          for="mode"
          class="block mb-2 text-sm font-medium text-localeColors-darkteal"
          >Preferred Mode of Contact</label
        >

        <select
          id="mode"
          formControlName="preferredModeOfContact"
          class="bg-transparent border-black border text-sm rounded-lg focus:border-2 focus:outline-none focus:border-localeColors-lightteal focus:shadow-md block w-full p-2.5 mb-4"
        >
          <option value="">Choose a mode of appointment</option>
          <option value="online">Online</option>
          <option value="in-person">In Person</option>
        </select>

        <div
          *ngIf="
            preferredModeOfContact.invalid && preferredModeOfContact.touched
          "
        >
          <p
            *ngIf="preferredModeOfContact.errors?.['required']"
            class="text-red-500 text-sm mb-4 -mt-4 ml-5"
          >
            Preferred Mode of Contact is required.
          </p>
        </div>

        <div class="flex flex-col xl:flex-row xl:gap-10">
          <div class="date w-1/2">
            <label
              class="block mb-2 text-sm font-medium text-localeColors-darkteal"
              >Preferred Date</label
            >
            <div class="relative w-full mb-4 bg-transparent">
              <input
                type="text"
                [matDatepicker]="picker"
                formControlName="preferredDate"
                (dateChange)="onDateChange($event)"
                [matDatepickerFilter]="dateFilter"
                required
                class="border w-full bg-transparent border-black p-2 rounded-3xl focus:border-2 focus:outline-none focus:border-localeColors-lightteal focus:shadow-md"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
                class="absolute right-2 top-1/2 transform -translate-y-1/2"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>
          </div>

          <!-- Time Slot Dropdown -->
          <div class="time w-1/2">
            <label
              class="block mb-2 text-sm font-medium text-localeColors-darkteal"
              >Preferred Time</label
            >
            <div class="relative w-full mb-4">
              <select
                formControlName="preferredTime"
                required
                [disabled]="!preferredDate"
                class="border min-w-full bg-transparent border-black p-2 rounded-3xl focus:border-2 focus:outline-none focus:border-localeColors-lightteal focus:shadow-md"
              >
                <option value="" disabled selected class="opacity-55">
                  00:00 - 00:00
                </option>
                <option *ngFor="let slot of availableSlots" [value]="slot">
                  {{ slot }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <p class="text-xs w-4/5 italic">
          We will do our best to accommodate your requested date and time, but
          availability cannot be guaranteed. However, our schedule is flexible,
          and we can coordinate via email.
        </p>
      </div>
      <button
        type="submit"
        class="text-white w-full bg-localeColors-red hover:bg-localeColors-lightteal focus:outline-none font-medium rounded-full text-xs sm:text-sm md:text-base lg:text-base xl:text-xl px-4 sm:px-6 md:px-8 lg:px-30 xl:px-12 py-2 sm:py-2.5 md:py-3 lg:py-3.5 xl:py-4 text-center active:bg-localeColors-darkteal duration-200"
      >
        Apply for {{ rescue.name }}
      </button>
    </form>
  </div>
</div>
