<div class="w-full flex flex-col md:flex-row 2xl:min-h-screen py-10">
  <div
    class="w-full md:w-3/5 flex flex-col p-10 md:items-start md:justify-start gap-5"
    data-aos="fade-right"
    data-aos-delay="200"
    data-aos-duration="800"
  >
    <h1
      class="text-center uppercase text-5xl md:text-left 2xl:text-8xl text-localeColors-darkteal font-WinkySans font-semibold"
    >
      Give {{ rescue.name }}<br />
      a chance
    </h1>

    <div
      class="bg-red-300 md:w-96 md:h-96 2xl:w-[35rem] 2xl:h-[35rem] mx-auto mt-5 rounded-2xl"
    >
      <img
        [src]="rescue.featureImage"
        alt="{{ rescue.name }} "
        class="w-full h-full object-cover rounded-2xl"
      />
    </div>
  </div>

  <div class="md:w-2/5 flex items-center justify-center gap-5">
    <!-- <p *ngIf="errorMessage" class="text-red-500 text-center">
      {{ errorMessage }}
    </p> -->

    <form
      [formGroup]="applicationForm"
      (ngSubmit)="onSubmit()"
      class="w-3/4"
      data-aos="fade-up"
      data-aos-delay="200"
      data-aos-duration="800"
    >
      <app-form-input
        label="Full Name"
        type="text"
        id="name"
        controlName="name"
        placeholder="John Smith"
        class="mb-4"
      ></app-form-input>

      <div *ngIf="name.invalid && name.touched">
        <p
          *ngIf="name.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Full Name is required.
        </p>
        <p
          *ngIf="name.errors?.['minlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be at least 6 characters.
        </p>
        <p
          *ngIf="name.errors?.['maxlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be less than 50 characters.
        </p>
        <p
          *ngIf="name.errors?.['pattern']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Only letters and spaces allowed.
        </p>
      </div>

      <app-form-input
        label="Phone Number"
        type="tel"
        id="phone"
        controlName="phone"
        placeholder="+639123456789"
        class=""
      ></app-form-input>

      <div *ngIf="phoneNo.invalid && phoneNo.touched">
        <p
          *ngIf="phoneNo.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Phone Number is required.
        </p>
        <p
          *ngIf="phoneNo.errors?.['pattern']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be a valid 11-digit phone number.
        </p>
      </div>

      <app-form-input
        label="Address"
        type="text"
        id="address"
        controlName="address"
        placeholder="Lalam Pangulo St. Barangay Babo Nasi"
        class="mb-4"
      ></app-form-input>

      <div *ngIf="address.invalid && address.touched">
        <p
          *ngIf="address.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Address is required.
        </p>
        <p
          *ngIf="address.errors?.['minlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be at least 10 characters.
        </p>
        <p
          *ngIf="address.errors?.['maxlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be less than 100 characters.
        </p>
      </div>

      <label
        for="mode"
        class="block mb-2 text-sm font-medium text-localeColors-darkteal dark:text-white"
        >Preferred Mode of Contact</label
      >
      <select
        id="mode"
        formControlName="preferredModeOfContact"
        class="bg-transparent border-black border-2 text-gray-900 text-sm rounded-lg focus:ring-localeColors-lightteal focus:border-localeColors-lightteal block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4"
      >
        <option value="">Choose a mode of appointment</option>
        <option value="online">Online</option>
        <option value="in-person">In Person</option>
      </select>

      <div
        *ngIf="preferredModeOfContact.invalid && preferredModeOfContact.touched"
      >
        <p
          *ngIf="preferredModeOfContact.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Preferred Mode of Contact is required.
        </p>
      </div>

      <div class="flex flex-col xl:flex-row xl:gap-10">
        <div class="date w-1/2">
          <label
            class="block mb-2 text-sm font-medium text-localeColors-darkteal dark:text-white"
            >Preferred Date</label
          >
          <div class="relative w-full mb-4 bg-transparent">
            <input
              type="text"
              [matDatepicker]="picker"
              formControlName="preferredDate"
              (dateChange)="onDateChange($event)"
              [matDatepickerFilter]="dateFilter"
              required
              class="border-2 w-full bg-transparent border-black p-2 rounded-3xl text-gray-900 focus:ring-localeColors-lightteal focus:border-localeColors-lightteal"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
              class="absolute right-2 top-1/2 transform -translate-y-1/2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </div>
        </div>

        <!-- Time Slot Dropdown -->
        <div class="time w-1/2">
          <label
            class="block mb-2 text-sm font-medium text-localeColors-darkteal dark:text-white"
            >Preferred Time</label
          >
          <div class="relative w-full mb-4">
            <select
              formControlName="preferredTime"
              required
              [disabled]="!preferredDate"
              class="border-2 min-w-full bg-transparent border-black p-2 rounded-3xl text-gray-900 focus:ring-localeColors-lightteal focus:border-localeColors-lightteal"
            >
              <option value="" disabled selected class="opacity-55">
                00:00 - 00:00
              </option>
              <option *ngFor="let slot of availableSlots" [value]="slot">
                {{ slot }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <textarea
        id="message"
        rows="4"
        formControlName="introductionMessage"
        class="block p-2.5 w-full text-sm text-gray-900 bg-transparent border-black border-2 focus:ring-localeColors-lightteal focus:border rounded-lg focus:border-localeColors-lightteal dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4"
        placeholder="Share a bit about yourself and why you want to adopt {{
          rescue.name
        }}."
      ></textarea>

      <div *ngIf="introductionMessage.invalid && introductionMessage.touched">
        <p
          *ngIf="introductionMessage.errors?.['required']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Introduction Message is required.
        </p>
        <p
          *ngIf="introductionMessage.errors?.['minlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be at least 10 characters.
        </p>
        <p
          *ngIf="introductionMessage.errors?.['maxlength']"
          class="text-red-500 text-sm mb-4 -mt-4 ml-5"
        >
          Must be less than 200 characters.
        </p>
      </div>

      <!-- <label
    for="preferred-time"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Preferred Time</label
  >
  <select
    id="preferred-time"
    formControlName="preferredTime"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4"
  >
    <option value="">Pick time for interview</option>
    <option value="10:30 AM">10:30 AM</option>
    <option value="3:00 PM">3:00 PM</option>
  </select>

  <label
    for="preferred-time"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Preferred Time</label
  >
  <select
    id="preferred-time"
    formControlName="preferredTime"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mb-4"
  >
    <option value="">Pick time for interview</option>
    <option value="10:30 AM">10:30 AM</option>
    <option value="3:00 PM">3:00 PM</option>
  </select> -->

      <button
        type="submit"
        class="text-white w-full bg-localeColors-red hover:bg-localeColors-lightteal focus:outline-none font-medium rounded-full text-xs sm:text-sm md:text-base lg:text-base xl:text-xl px-4 sm:px-6 md:px-8 lg:px-30 xl:px-12 py-2 sm:py-2.5 md:py-3 lg:py-3.5 xl:py-4 text-center dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Apply for {{ rescue.name }}
      </button>
    </form>
  </div>
</div>
