<!-- rescues-list.component.html -->
<div class="w-full px-4 sm:px-6 md:px-16 lg:pt-20 flex flex-col items-center">
  <div class="gallery-heading text-center w-full">
    <h1
      class="text-7xl sm:text-8xl 2xl:text-9xl tracking-tight leading-tight text-left text-localeColors-darkteal font-WinkySans font-semibold"
      data-aos="fade-right"
      data-aos-duration="800"
    >
      <span class="block">Meet Our Rescues</span>
      <span class="block"></span>
      <span class="block text-blue-600 dark:text-blue-400"></span>
    </h1>
  </div>

  <!-- Size filter buttons -->
  <div
    class="filter-controls my-8 flex flex-wrap justify-start items-start gap-2"
    data-aos="fade-up"
    data-aos-duration="800"
  >
    <button
      class="px-6 py-2 rounded-full transition-all hover:bg-localeColors-lightteal active:bg-localeColors-darkteal font-Monteserrat font-regular"
      [ngClass]="
        activeFilter === 'all'
          ? 'bg-localeColors-lightteal text-white'
          : 'bg-localeColors-red text-white '
      "
      (click)="filterRescuesBySize('all')"
    >
      All
    </button>
    <button
      class="px-6 py-2 rounded-full transition-all hover:bg-localeColors-lightteal active:bg-localeColors-darkteal font-Monteserrat font-regular"
      [ngClass]="
        activeFilter === 'small'
          ? 'bg-localeColors-lightteal text-white'
          : 'bg-localeColors-red text-white'
      "
      (click)="filterRescuesBySize('small')"
    >
      Small
    </button>
    <button
      class="px-6 py-2 rounded-full transition-all hover:bg-localeColors-lightteal active:bg-localeColors-darkteal font-Monteserrat font-regular"
      [ngClass]="
        activeFilter === 'medium'
          ? 'bg-localeColors-lightteal text-white'
          : 'bg-localeColors-red text-white'
      "
      (click)="filterRescuesBySize('medium')"
    >
      Medium
    </button>
    <button
      class="px-6 py-2 rounded-full transition-all hover:bg-localeColors-lightteal active:bg-localeColors-darkteal font-Monteserrat font-regular"
      [ngClass]="
        activeFilter === 'large'
          ? 'bg-localeColors-lightteal text-white'
          : 'bg-localeColors-red text-white'
      "
      (click)="filterRescuesBySize('large')"
    >
      Large
    </button>
  </div>

  <!-- Centering the gallery -->
  <div
    class="min-h-[70vh] rescues-gallery w-full max-w-screen-2xl mx-auto flex justify-center items-center flex-col py-10"
  >
    <div *ngIf="rescues.length > 0; else noRescues">
      <div
        class="grid grid-cols-1 min-h-screen md:grid-cols-2 lg:grid-cols-3 gap-10 md:gap-14 w-full justify-center"
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-duration="800"
      >
        <app-rescue-card
          *ngFor="let rescue of rescues"
          [rescue]="rescue"
        ></app-rescue-card>
      </div>
    </div>

    <ng-template #noRescues>
      <div
        class="col-span-full text-center text-xl font-semibold text-localeColors-darkteal opacity-50 w-full h-full my-auto p-5"
      >
        <p class="uppercase text-lg lg:text-2xl">
          No rescued dogs available at the moment. Check back soon!
        </p>
      </div>
    </ng-template>
  </div>
</div>
