<nav
  class="border-gray-200 bg-transparent z-50 transition-colors duration-300 pb-3"
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto pt-5 px-3 xl:px-5"
  >
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
      <div class="w-20 h-20">
        <img
          src="./images/hopAssets/hopp.png"
          alt="Heart of Paws Logo"
          class="h-full w-full"
          loading="eager"
        />
      </div>
    </a>

    <!-- Desktop Navigation -->
    <ul class="hidden md:flex space-x-6 pt-5">
      <li>
        <a
          routerLink="/rescues"
          routerLinkActive="active"
          class="relative text-md w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-localeColors-lightteal hover:text-localeColors-darkteal after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left font-Monteserrat font-normal"
        >
          Rescues
        </a>
      </li>
      <li>
        <a
          routerLink="/how-to-help"
          routerLinkActive="active"
          class="relative text-md w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-localeColors-lightteal hover:text-localeColors-darkteal after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left font-Monteserrat font-normal"
        >
          How To Help
        </a>
      </li>
      <li>
        <a
          routerLink="/about-us"
          routerLinkActive="active"
          class="relative text-md w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-localeColors-lightteal hover:text-localeColors-darkteal after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left font-Monteserrat font-normal"
        >
          About
        </a>
      </li>
      <li>
        <a
          routerLink="/contact-us"
          routerLinkActive="active"
          class="relative text-md w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-localeColors-lightteal hover:text-localeColors-darkteal after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left font-Monteserrat font-normal"
        >
          Contact
        </a>
      </li>

      <!-- Avatar Dropdown (Desktop) -->
      <li *ngIf="isAuthenticated" class="relative">
        <button
          (click)="toggleDropdown()"
          class="flex items-center focus:outline-none"
        >
          <img
            class="w-10 h-10 rounded-full border border-gray-300"
            [src]="userProfileSrc"
            alt="User Avatar"
          />
        </button>

        <!-- Dropdown Menu -->
        <div
          *ngIf="isDropdownOpen"
          class="absolute mt-2 right-0 bg-white border rounded-lg shadow-lg"
        >
          <ul class="py-2 text-sm text-gray-700">
            <li>
              <a
                (click)="navigateToUserProfile()"
                class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
              >
                Profile
              </a>
            </li>
            <li>
              <a
                (click)="logout()"
                class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
              >
                Logout
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li *ngIf="!isAuthenticated">
        <a
          routerLink="/login"
          class="relative text-md w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-localeColors-lightteal hover:text-localeColors-darkteal after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-left font-Monteserrat font-normal"
        >
          Login
        </a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a
          routerLink="/register"
          class="text-white bg-localeColors-red hover:bg-localeColors-lightteal active:bg-localeColors-darkteal px-4 py-2 rounded-2xl text-center font-Monteserrat text-sm duration-200"
        >
          Sign up
        </a>
      </li>
    </ul>

    <!-- Hamburger Button (Mobile) -->
    <button
      (click)="toggleMenu()"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden hover:text-localeColors-darkteal focus:outline-none 0"
    >
      <span class="sr-only">Open main menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>

    <!-- Sidebar Menu (Mobile) -->
    <div
      [ngClass]="{
        'translate-x-0': isMenuOpen,
        '-translate-x-full': !isMenuOpen
      }"
      class="fixed top-0 left-0 h-full w-full bg-primary-light shadow-lg transition-transform transform md:hidden p-5 z-50 ease-in-out duration-500"
    >
      <!-- Close Button -->
      <button
        (click)="closeMenu()"
        class="absolute top-4 right-4 text-gray-500"
      >
        ✖
      </button>

      <!-- Navigation Links -->
      <ul class="flex flex-col space-y-4 mt-8">
        <li>
          <a
            routerLink="/rescues"
            routerLinkActive="active"
            (click)="handleNavigation()"
            class="block py-2 px-3 text-2xl text-gray-900 hover:bg-gray-100 text-left font-Monteserrat font-medium uppercase"
          >
            Rescues
          </a>
        </li>
        <li>
          <a
            routerLink="/how-to-help"
            routerLinkActive="active"
            (click)="handleNavigation()"
            class="block py-2 px-3 text-2xl text-gray-900 hover:bg-gray-100 font-Monteserrat font-medium uppercase"
          >
            How To Help
          </a>
        </li>
        <li>
          <a
            routerLink="/about-us"
            routerLinkActive="active"
            (click)="handleNavigation()"
            class="block py-2 px-3 text-2xl text-gray-900 hover:bg-gray-100 font-Monteserrat font-medium uppercase"
          >
            About Us
          </a>
        </li>
        <li>
          <a
            routerLink="/contact-us"
            routerLinkActive="active"
            (click)="handleNavigation()"
            class="block py-2 px-3 text-2xl text-gray-900 hover:bg-gray-100 font-Monteserrat font-medium uppercase"
          >
            Contact Us
          </a>
        </li>

        <!-- Avatar Dropdown (Mobile) -->
        <li *ngIf="isAuthenticated" class="relative">
          <button
            (click)="toggleDropdown()"
            class="flex items-center w-full text-left focus:outline-none px-3 py-2"
          >
            <img
              class="w-10 h-10 rounded-full border border-gray-300"
              [src]="userProfileSrc"
              alt="User Avatar"
            />
            <span class="ml-3 text-gray-900">Profile</span>
          </button>

          <!-- Dropdown Menu -->
          <div
            *ngIf="isDropdownOpen"
            class="mt-2 w-full bg-white border rounded-lg shadow-lg"
          >
            <ul class="py-2 text-sm text-gray-700">
              <li>
                <a
                  (click)="navigateToUserProfile(); handleNavigation()"
                  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
                >
                  Profile
                </a>
              </li>
              <li>
                <a
                  (click)="logout(); handleNavigation()"
                  class="block px-4 py-2 hover:bg-gray-100 cursor-pointer"
                >
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </li>

        <li *ngIf="!isAuthenticated">
          <a
            routerLink="/login"
            (click)="handleNavigation()"
            class="block py-2 px-3 text-gray-900 hover:bg-gray-100"
          >
            Login
          </a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a
            routerLink="/register"
            (click)="handleNavigation()"
            class="text-white bg-blue-700 hover:bg-blue-800 px-4 py-2 rounded-lg text-center"
          >
            Sign up
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
